.home-page-container {
  width: 100%;
  height: 100%;
}

.home-page {
  &__header {
    background-color: white !important;

    & .ant-page-header-back-button {
      &:hover {
        color: #8973e9 !important;
      }
    }
  }

  &__content {
    background-color: white !important;

    &__col {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 800px;
      width: 50%;

      &__text-ctn {
        width: 500px;
      }
    }
  }
}

.modal-upload-img {
  .avatar-uploader > .ant-upload {
    width: 400px;
    height: 400px;
  }
}
