.video-box {
  background-image: url('https://picsum.photos/740/420');
  height: 420px;
  width: 740px;
  aspect-ratio: auto 740 / 420;
  position: relative;
  border-radius: 8px;

  & button {
    position: absolute;
    bottom: 10px;
    height: 50px;
    width: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: #fff;
    border-color: #fff;

    &:hover {
      color: #fff;
      border-color: #fff;
    }
  }

  & button:first-child {
    left: 310px;
  }
  & button:last-child {
    right: 310px;
  }
}
.before-join__control {
  & button {
    border-radius: 1.5rem;
    height: 50px;
    width: 150px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
}
