.join-meeting-form {
  & .ant-row {
    margin: 0 !important;
  }
}

.join-meeting-input {
  border: 1px solid #eee !important;
  border-radius: 5px !important;
}

.join-meeting-btn {
  color: #8973e9 !important;
  font-weight: bold !important;
  border-radius: 5px !important;
}
