.welcome-container {
  height: 100%;
  width: 100%;
  background-color: #1a161f;
}

.welcome-content-container {
  height: 100vh;
  padding: 100px;
  display: flex;
  align-items: center;
}

.welcome {
  &__title {
    font-size: 72px;
  }
  &__dec {
    font-size: 36px;
  }
  &__controller {
    height: 60px;

    &__btn {
      color: #fff;
      cursor: pointer;
      padding: 1rem 4rem;
      border: none;
      transition: all 0.4s;
      border-radius: 1.8rem 1.8rem 1.8rem 0;
      background-color: #542bd8;
      &:hover {
        opacity: 0.7;
        color: #fff;
      }
    }
  }
}

.spin {
  & > span {
    top: 100% !important;
    color: #542bd8 !important;
  }
}
